{% extends "index.html" %}
{% block content %}

    <div class="row">
        <div class="col-md-4">
            <div class="row banner main">
                <div class="col-md-12">
                    <h2>Categories</h2>
                </div>
            </div>
            
            {% for category in categories %}
                <a href = "{{url_for('showCategory', category_name = category.name)}}">
                    <div class="row">
                        <div class="col-md-12 category-list">
                            <h3>{{category.name}}</h3>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="col-md-8">
            <div class="row banner item">
                <div class="col-md-12 wrap">
                    <h2>{{ category.name }}</h2>
                    <a class="button" href = "{{url_for('addItem', category_name = category.name)}}">
                        Add Category
                    </a>
                </div>
            </div>
            <div>
                {% for item in items %}
                <a href = "{{url_for('showItem', category_name = category.name, item_name = item.name)}}">
                        <div class="row">
                            <div class="col-md-10 category-list">
                                <h3>{{item.name}}</h3>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


    
{% endblock %}